D:\DB85~1\bin\zapret-v71.2\binaries\windows-x86_64\winws.exe  --daemon --comment [preset_russia_autohostlist][off][on][tcp=443 1: hostlist 2: hostlist-auto][on][off] --wf-tcp=443     --hostlist=D:\DB85~1\lists\hostlist\hostlist-auto.txt --hostlist=D:\DB85~1\lists\hostlist\zapret-hosts-google.txt --hostlist=D:\DB85~1\lists\hostlist\zapret-hosts-user.txt --hostlist=D:\DB85~1\lists\hostlist\list-general.txt.gz --dpi-desync=fake,multidisorder --dpi-desync-split-pos=1,midsld --dpi-desync-repeats=11 --dpi-desync-fooling=badseq --dpi-desync-fake-tls-mod=rnd,dupsid,sni=www.google.com  --new --dpi-desync=fake,multidisorder --dpi-desync-split-pos=midsld --dpi-desync-repeats=6 --dpi-desync-fooling=badseq --hostlist-auto=D:\DB85~1\lists\hostlist\hostlist-auto.txt  
