D:\DB85~1\bin\zapret-v71.2\binaries\windows-x86_64\winws.exe  --daemon --comment [preset_russia_autohostlist][off][on][udp=443 1: hostlist 2: hostlist-auto][on][off] --wf-udp=443     --hostlist=D:\DB85~1\lists\hostlist\hostlist-auto.txt --hostlist=D:\DB85~1\lists\hostlist\zapret-hosts-google.txt --hostlist=D:\DB85~1\lists\hostlist\zapret-hosts-user.txt --hostlist=D:\DB85~1\lists\hostlist\list-general.txt.gz --dpi-desync=fake --dpi-desync-repeats=11 --dpi-desync-fake-quic=D:\DB85~1\bin\zapret-v71.2\files\fake\quic_initial_www_google_com.bin  --new --dpi-desync=fake --dpi-desync-repeats=11 --hostlist=D:\DB85~1\lists\hostlist\hostlist-auto.txt  
